*{
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}
nav h2{
    font-size: 35px;
    cursor: pointer;
    font-weight: bolder;
}
nav ul{
    margin-left: 30px;
    display: flex;
}
nav ul li a{
    display: flex;
    justify-content: space-around;
    padding: 0px 10px 0px 10px;
}
nav li{
    list-style-type: none;
    margin-right: 0.5rem;
}
nav a{
    position: relative;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}
.navigation-card {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.tab{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20px;
    height: 20px;
    overflow: hidden;
    gap: 10px;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    
}
.toggle_btn span{
    display: none;
    font-size: 2.2rem;
    cursor: pointer;
}
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2px;
    top: 60px;
    height: 0;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 450px;
}
.dropdown_menu.open ul{
    opacity: 1;
    transition: all 0.3s;
}
.dropdown_menu li{
    list-style-type: none;
    line-height: 3;
    display: flex;
    align-items: center;
    justify-content: right;
}
.dropdown_menu a{
    font-weight: bold;
    text-decoration: none;
    color: black;
}

/* BODY */
.cont{
    width: 100%;
    height: 100vh;
    background-color: #383838;
}
.one::before{
    content: '\2015';
}
.one::after{
    content: '\2015';
}

.text{
    position: absolute;
    top: 14%;
    left: 52%;
    text-align: center;
    /* transform: translate(-50%, -50%); */
}
.one{
    font-size: 25px;
    font-weight: 400;
}
.two{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 55px;
    font-weight: lighter;
}
.three{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.btn{
    background-color: transparent;
    border: 1px solid #383838;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 70px;
    width: 200px;
    font-size: 20px;
}
.btn:hover{
    background-color: #A749FF;
    border: 1px solid #F37373;
}

/* MIDDLE */
.middle{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    line-height: 1.4;
}
.img{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.text2{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.top{
    font-weight: bold;
    font-size: 15px;
}
.lorem{
    margin-top: 5px;
}


/* BOTTOM */
.section{
    margin-top: 60px;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.head h2{
    font-size: 25px;
}
.head p{
    margin-top: 10px;
}
hr{
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 3px;
    background-color: black;
}
.items{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
del{
    color: #FA6BFF;
}
.text3{
    font-size: 17px;
}
.text3:hover{
    cursor: pointer;
    color: #A749FF;
}
.price{
    font-size: 15px;
}


@media only screen and (min-width: 280px){
    .tab{
        padding: 0px 10px 0px 10px;
    }
    nav h2{
        font-size: 25px;
    }
}
@media screen and (max-width: 768px){
    ul li{
        display: none;
    }
    .dropdown_menu.open{
        display: inline;
    }
    .toggle_btn span{
        display: flex;
    }
    .cont{
        background-color: #383838;
        width: 100%;
        height: 100vh;
    }
    .text{
        position: absolute;
        top: 12%;
        left: 52%;
    }
    .one{
        font-size: 17px;
    }
    .two{
        font-size: 22px;
    }
    .three{
        font-size: 10px;
    }
    .btn{
        margin-top: 10px;
        font-size: 13px;
        height: 40px;
        width: 100px;
    }
    .middle{
        display: flex;
        justify-content: space-around;
    }
    .p{
        font-size: 12px;
    }
}
/* @media screen and (min-width: 1200px){
    .text{
        position: absolute;
        top: 40%;
        left: 52%;
    }
} */

