*{
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}
nav h2{
    font-size: 35px;
    cursor: pointer;
    font-weight: bolder;
}
nav ul{
    margin-left: 30px;
    display: flex;
}
nav ul li a{
    display: flex;
    justify-content: space-around;
    padding: 0px 20px 0px 20px;
}
nav li{
    list-style-type: none;
    margin-right: 0.5rem;
}
nav a{
    position: relative;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}
.navigation-card {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    padding: 15px 20px;
    border-radius: 50px;
}
.tab{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    overflow: hidden;
    background-color: rgb(252, 252, 252);
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
}
.tab:hover {
    background-color: rgb(227, 223, 223);
}
.toggle_btn{
    font-size: 2.2rem;
    cursor: pointer;
    display: none;
}
.dropdown_menu{
    display: none;
    position: absolute;
    right: -5px;
    top: 60px;
    height: 0;
    /* width: 300px; */
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 450px;
}
.dropdown_menu.open ul{
    opacity: 1;
}
.dropdown_menu li{
    list-style-type: none;
    padding: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu a{
    font-weight: bold;
    text-decoration: none;
    color: black;
}

/* BODY */
.man{
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: auto;
}

.one::before{
    content: '\2015';
}
.one::after{
    content: '\2015';
}

.text{
    position: absolute;
    top: 14%;
    left: 52%;
    text-align: center;
    /* transform: translate(-50%, -50%); */
}
.one{
    font-size: 25px;
    font-weight: 400;
}
.two{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 55px;
    font-weight: lighter;
}
.three{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.btn{
    background-color: transparent;
    border: 1px solid #383838;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 70px;
    width: 200px;
    font-size: 20px;
}
.btn:hover{
    background-color: #A749FF;
    border: 1px solid #F37373;
}

/* MIDDLE */
.middle{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    line-height: 1.4;
}
.img{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.text2{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.top{
    font-weight: bold;
    font-size: 15px;
}
.lorem{
    margin-top: 5px;
}


/* BOTTOM */
.section{
    margin-top: 60px;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.head h2{
    font-size: 25px;
}
.head p{
    margin-top: 10px;
}
span hr{
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 2px;
    background-color: black;
}
.items{
    margin-top: 20px;
}

@media screen and (max-width: 768px){
    ul li{
        display: none;
    }
    .dropdown_menu{
        display: block;
        left: 2rem;
        width: unset;
    }
    nav .toggle_btn{
        display: block;
    }
    .man{
        background-position: center;
        background-size: cover;
        max-width: 100%;
        height: fit-content;
    }
    .text{
        position: absolute;
        top: 12%;
        left: 52%;
    }
    .one{
        font-size: 17px;
    }
    .two{
        font-size: 22px;
    }
    .three{
        font-size: 10px;
    }
    .btn{
        margin-top: 10px;
        font-size: 13px;
        height: 40px;
        width: 100px;
    }
    .middle{
        display: flex;
        justify-content: space-around;
    }
    .p{
        font-size: 12px;
    }
}
@media screen and (min-width: 1200px){
    .text{
        position: absolute;
        top: 40%;
        left: 52%;
    }
}

